<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <meta charset="UTF-8">
    <title>Home</title>

</head>
<body class="text-center">
<div id="auth" style="display: block" class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						Welcome
					</span>
                <span class="login100-form-avatar">
						<img src="images/avatar-01.jpg" alt="AVATAR">
					</span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <input class="input100" id="floatingInput" type="text" name="login">
                    <span class="focus-input100" data-placeholder="Логин"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" id="floatingPassword" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Пароль"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit" onclick="on_auth_click($('#floatingInput').val(), $('#floatingPassword').val())">
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div id="user" style="display: none">
        <section class="py-5 text-center container">
            <div class="text-muted py-5 px-3 py-2 bg-dark text-white text-center">>
                <div class="card mb-4 rounded-3 shadow-sm">
                    <span class="text-primary"><h1><b>Доступное для пользователей c ролями ADMIN & USER</b></h1></span>
                    <div class="row py-lg-5">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <form>
                                <h3>2.1 Получить пользователя по логину</h3>
                                <label for="userLogin"><b></h4>Login</b></h4></label><input type="text" id="userLogin">
                                <a onclick="getUserByLogin($('#userLogin').val())"><b></h4>Получить</b></h4></a>
                                <div class="bg-light border rounded-3">
                                    <div id="getUserBlock" style="display: none;">

                                    </div>
                                </div>
                            </form>
                            <br>
                            <form>
                                <h3>2.2 Получить всех пользователей</h3>
                                <a onclick="getUserAll()"><b></h4>Получить</b></h4></a>
                                <div class="bg-light border rounded-3">
                                    <div id="getUserAllBlock" style="display: none;">

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br>
        <br>
        <div class="text-muted py-5 px-3 py-2 bg-dark text-white text-center">
            <div class="card mb-4 rounded-3 shadow-sm">
                <span class="text-primary"><h1><b>Доступное для пользователей с ролью ADMIN</b></h1></span>
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <form>
                            <h3>2.3 Получить всех пользователей по определенной роли</h3>
                            <label for="userRole"><b></h4>Role</b></h4></label><input type="text" id="userRole">
                            <a onclick="getUserByRole($('#userRole').val())"><b></h4>Получить</b></h4></a>
                            <div class="bg-light border rounded-3">
                                <div id="getUserByRoleBlock" style="display: none;">

                                </div>
                            </div>
                        </form>
                        <br>
                        <form>
                            <h3>2.4 Получить всех пользователей по Id</h3>
                            <label for="userId"><b></h4>Id</b></h4></label><input type="text" id="userId">
                            <a onclick="getUserById($('#userId').val())"><b></h4>Получить</b></h4></a>
                            <div class="bg-light border rounded-3">
                            </div>
                            <div id="getUserByIdBlock" style="display: none;">

                            </div>
                        </form>
                        <br>
                        <form>
                            <h3>2.5 Создать пользователя</h3>
                            <label for="newUserLogin"><b></h4>Login</b></h4></label><input type="text"
                                                                                           id="newUserLogin">
                            <label for="newUserPass"><b></h4>Password</b></h4></label><input type="text"
                                                                                             id="newUserPass">
                            <a onclick="saveUser($('#newUserLogin').val(), $('#newUserPass').val())"><b></h4>
                                Создать</b></h4></a>
                            <div class="bg-light border rounded-3">
                                <div id="newUserBlock" style="display: none;">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>